<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorkUpFun_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA7E30DD1E7CC09F0091522A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7E30F61E7CC0A00091522A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7E31011E7CC0A00091522A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
